.products  {
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    top:38%;
       left:70%;
       width:100px;
       height:40px;
       position: absolute;
       z-index: 2;
       background: orange; 
}



.table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.product {
    position:absolute; left:80px; top:20px; 
    background-color: #336B6B;
}

.order {
   
    position:absolute; left:200px; top:20px; 
    background-color: #DDEEEE;
}

